<h2>Publishers Portal</h2>

<%= link_to "publish a new user", new_publisher_path %>

<h3>Users Published to the queue</h3>
<% @users.each do |u| %>
    <ul><%= u.first_name %>, <%= u.last_name %>, <%= u.email %></ul>
<% end %>