<!DOCTYPE html>
<html>
<head>
  <title>Pingly</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
<div pub-key="pub-7ca09066-ec6f-4116-87a1-cdddcb1cd2c7" sub-key="sub-f01abedc-f355-11e1-b7d4-a3ab46ae25ef" ssl="off" origin="pubsub.pubnub.com" id="pubnub"></div>
<script src="http://cdn.pubnub.com/pubnub-3.3.1.min.js"></script>

</body>
</html>
